.chart-container {
    min-height: 100vh;
    padding: 0; /* Supprime les marges internes */
    background: rgba(34, 114, 255, 0.08); /* Fond similaire */
    display: flex;
    justify-content: flex-start; /* Aligne le contenu en haut */
    align-items: center;
    flex-direction: column; /* Aligne les éléments verticalement */
    margin-top: -5%;
    
}

.chart-card {
    width: 80%;
    max-width: 900px;
    margin: 20px auto; /* Ajoute un léger espace autour */
    margin-top: 7%;
    padding: 2rem;
    border-radius: 16px;
    background: rgba(34, 114, 255, 0.08); /* Fond similaire */
    box-shadow: 0 4px 40px rgba(34, 114, 255, 0.25); /* Ombre similaire */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(34, 114, 255, 0.2);
    color: white;
    text-align: center;
}

.chart-title {
    text-align: center;
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
}